<a href="https://colab.research.google.com/github/mahendrasaikumargandham/machine-learning-algorithms/blob/main/oneHot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

samples = {
    'Jupiter has 79 known moons .', 
    'Neptune has 14 confirmed moons !'
}
token_index = {}
counter = 0

for sample in samples:
  for considered_word in sample.split():
    if considered_word not in token_index:
      token_index.update({considered_word: counter + 1})
      counter += 1

In [3]:
token_index

{'!': 10,
 '.': 6,
 '14': 8,
 '79': 3,
 'Jupiter': 1,
 'Neptune': 7,
 'confirmed': 9,
 'has': 2,
 'known': 4,
 'moons': 5}

In [6]:
max_length = 6
result = np.zeros(shape = (len(samples), max_length, max(token_index.values()) + 1))
for i, sample in enumerate(samples):
  for j, considered_word in list(enumerate(sample.split())):
    index = token_index.get(considered_word)
    result[i, j, index] = 1

In [7]:
result

array([[[0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]]])